/* Estilos para la página de detalle del producto */

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
header {
    padding: 20px; /* Espaciado interno del encabezado */
    color: #333; /* Color del texto del encabezado */
}

.Menu.container {
    display: flex; /* Mostrar los elementos en línea */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-left: 50px; /* Mover el menú hacia la izquierda */
}

.logo {
    color: #333; /* Color del texto del logo */
    text-decoration: none; /* Quitar decoración de subrayado */
    font-size: 1.5rem; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    margin-left: 10px; /* Espacio a la izquierda */
}


.menu-icon {
    display: none; /* Ocultar el icono por defecto */
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.4s;
}

.navbar ul {
    list-style-type: none; /* Quitar los marcadores de lista */
    margin: 30px; /* Ajustar el margen a cero */
    padding: 0; /* Ajustar el relleno a cero */
}

.navbar ul li {
    display: inline-block; /* Mostrar los elementos de la lista en línea */
    margin-left: 50px; /* Espacio entre elementos de la lista */
}

.navbar ul li a {
    color: #131212; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado del texto */
    font-size: 1.1rem; /* Tamaño de fuente de los enlaces */
    transition: box-shadow 0.3s; /* Transición suave de la sombra */
}

/* Efecto de sombra al pasar el mouse sobre los elementos del menú */
.navbar ul li a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra al pasar el mouse */
}




.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu .navbar ul {
    flex-direction: column;
    gap: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}


.detalle-producto-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Auto en el margen horizontal para centrar */

    width: 80%;
    max-width: 1000px;
    align-items: flex-start;
    justify-content: center;
    align-items: center; /* Centrar horizontalmente */

}

.carousel {
    position: relative;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 400px; /* Ancho específico */
    height: 400px; /* Para mantener la proporción */
    display: block;
    object-fit: cover; /* Para cubrir el espacio */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

/* Estilos adicionales para los detalles del producto */
.producto-detalles {
    flex: 1;
    margin-left: 20px; /* Margen izquierdo para separar del carrusel */
    overflow-wrap: break-word; /* Romper palabras largas */
}

.producto-detalles .categoria {
    margin-left: 0;
}

.producto-detalles h2 {
    margin: 10px 0 0;
}

.producto-detalles .caracteristicas {
    margin-top: 10px;
}

.producto-detalles .descripcion {
    margin-top: 10px;
    max-width: 90%; /* Ajuste el ancho máximo del texto */
    text-align: left; /* Alinea el texto a la izquierda */
    overflow-wrap: break-word; /* Romper palabras largas */
}

.precio-container {
    margin-top: 10px;
}

.precio-descuento {
    color: #d9534f;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.precio-original {
    color: #999;
    text-decoration: line-through;
}

.descuento-label {
    margin-top: 10px;
}

.descuento-badge {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
}

.comprar-container {
    margin-top: 20px;
}

.btn-comprar {
    display: inline-block;
    background-color: #00ff55;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #00b327;
}

.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h4 {
    margin-bottom: 20px;
    color: #333;
}

.footer-column p,
.footer-column ul {
    margin-bottom: 15px;
}

.footer-column p i,
.footer-column ul li a i {
    margin-right: 10px;
    color: #666;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li a {
    color: #666;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #007bff;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: #666;
}
















/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    /* Estilos globales */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 0.9rem;
        margin-left: 80px;
        flex: 1;
    }

    .logo img {
        max-width: 100px;
        height: auto;
        display: block;
    }

    .menu-icon {
        display: block; /* Mostrar el icono del menú en dispositivos móviles */
        padding: 10px;
        position: relative;
        margin-right: 20px;
    }

    .menu-icon span {
        width: 25px; /* Ancho de las barras del menú */
        height: 3px; /* Altura de las barras del menú */
        background-color: #333; /* Color de las barras del menú */
        margin-bottom: 5px; /* Espacio entre las barras del menú */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
    }

    .menu-icon span:last-child {
        margin-bottom: 0; /* Sin margen inferior para la última barra */
    }

    /* Efecto de transición al abrir el menú */
    .menu-icon.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /* Rotación de la primera barra */
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0; /* Ocultar la segunda barra */
    }

    .menu-icon.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); /* Rotación de la tercera barra */
    }

    /* Estilos para el menú desplegable */
    .mobile-menu {
        display: none; /* Ocultar el mobile-menu inicialmente */
        position: fixed; /* Posición fija para mantenerlo visible */
        top: 0; /* Alineación en la parte superior */
        left: 0; /* Alineación a la izquierda */
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa */
        background-color: #fff; /* Color de fondo */
        z-index: 1000; /* Z-index alto para estar encima de otros elementos */
        flex-direction: column; /* Alinear elementos verticalmente */
        justify-content: center; /* Centrar verticalmente */
        align-items: center; /* Centrar horizontalmente */
    }

    .mobile-menu.active {
        display: flex; /* Mostrar el mobile-menu activo */
    }

    .close-btn {
        position: absolute; /* Posición absoluta para el botón de cerrar */
        top: 10px; /* Espacio desde la parte superior */
        right: 10px; /* Espacio desde la derecha */
        background: transparent; /* Fondo transparente */
        border: none; /* Sin borde */
        font-size: 24px; /* Tamaño de fuente */
        cursor: pointer; /* Cursor de puntero */
    }

    .navbar{
        display: none;
    }

    .bar ul {
        list-style-type: none; /* Quitar los marcadores de lista */
        padding: 0; /* Eliminar el relleno */
        text-align: center; /* Alinear texto al centro */
    }

    .bar ul li {
        margin: 10px 0; /* Margen entre elementos del menú */
    }

    .bar ul li a {
        color: #131212; /* Color del texto del menú */
        text-decoration: none; /* Quitar subrayado */
        font-size: 1rem; /* Tamaño de fuente */
        display: block; /* Mostrar como bloque */
        padding: 10px; /* Relleno interno */
        transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    }

    .bar ul li a:hover {
        background-color: #eee; /* Color de fondo al pasar el mouse */
    }

    

    .detalle-producto-container {
        flex-direction: column;
        padding: 10px;
        

    }

    .carousel {
        width: 80%; /* Reducir el ancho del carrusel */
        margin: 0 auto 30px auto; /* Centrar el carrusel y añadir margen inferior */

    }

    .carousel-item img {
        width: 300px; /* Ancho completo */
        height: 300px; /* Altura automática */
    }



    /* Estilos adicionales para los detalles del producto */
    .producto-detalles {
        margin-left: 10px; /* Ajuste el margen izquierdo para móviles */
    }

    .producto-detalles .categoria {
        margin-left: 0;
    }

    .producto-detalles h2 {
        margin: 10px 0 0;
    }

    .producto-detalles .caracteristicas {
        margin-top: 10px;
    }

    .producto-detalles .descripcion {
        max-width: 100%; /* Ancho máximo para evitar que el texto se extienda demasiado */
    }

    .descripcion {
        max-width: 90%; /* Ancho máximo para evitar que el texto se extienda demasiado */
        margin: 0 auto; /* Centra el contenido */
    }

    .precio-container {
        margin-top: 10px;
    }

    .precio-descuento {
        color: #d9534f;
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 10px;
    }

    .precio-original {
        color: #999;
        text-decoration: line-through;
    }

    .descuento-label {
        margin-top: 10px;
    }

    .descuento-badge {
        background-color: #d9534f;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 10px;
        display: inline-block;
    }

    .comprar-container {
        margin-top: 20px;
    }

    .btn-comprar {
        display: inline-block;
        background-color: #00ff55;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-comprar:hover {
        background-color: #00b327;
    }

    /* Estilos para el pie de página */
    .footer {
        padding: 20px 0; /* Relleno interior */
    }

    .footer-container {
        flex-direction: column; /* Dirección de columna */
        align-items: center; /* Alinear al centro */
    }

    .footer-column {
        width: 100%; /* Ancho completo */
        text-align: center; /* Alinear al centro */
        margin-bottom: 20px; /* Margen inferior */
    }

    .footer-column h4 {
        margin-bottom: 10px; /* Margen inferior */
    }

    .footer-column p,
    .footer-column ul {
        margin-bottom: 10px; /* Margen inferior */
    }

    .footer-column p i,
    .footer-column ul li a i {
        display: none; /* Ocultar iconos */
    }
}
