/* Resetear estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado */
header {
    padding: 20px; /* Espaciado interno del encabezado */
    color: #333; /* Color del texto del encabezado */
}

.Menu.container {
    display: flex; /* Mostrar los elementos en línea */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-left: 50px; /* Mover el menú hacia la izquierda */
}

.logo {
    color: #333; /* Color del texto del logo */
    text-decoration: none; /* Quitar decoración de subrayado */
    font-size: 1.5rem; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    margin-left: 10px; /* Espacio a la izquierda */
}


.menu-icon {
    display: none; /* Ocultar el icono por defecto */
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.4s;
}

.navbar ul {
    list-style-type: none; /* Quitar los marcadores de lista */
    margin: 30px; /* Ajustar el margen a cero */
    padding: 0; /* Ajustar el relleno a cero */
}

.navbar ul li {
    display: inline-block; /* Mostrar los elementos de la lista en línea */
    margin-left: 50px; /* Espacio entre elementos de la lista */
}

.navbar ul li a {
    color: #131212; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado del texto */
    font-size: 1.1rem; /* Tamaño de fuente de los enlaces */
    transition: box-shadow 0.3s; /* Transición suave de la sombra */
}

/* Efecto de sombra al pasar el mouse sobre los elementos del menú */
.navbar ul li a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra al pasar el mouse */
}




.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu .navbar ul {
    flex-direction: column;
    gap: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}





/* Estilos del slider */
.slider-container {
    position: relative;
    width: 400px; /* Ancho del contenedor del slider */
    height: 300px; /* Altura del contenedor del slider */
    margin: 0 auto; /* Centrar el slider horizontalmente */
    overflow: hidden; /* Ocultar las imágenes que están fuera del contenedor */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animación de transición al cambiar las imágenes */
}

.slider img {
    width: 400px; /* Ancho fijo para todas las imágenes */
    height: 350px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajustar la imagen dentro del tamaño especificado sin distorsionar */
    margin-right: 0px; /* Margen derecho para separar las imágenes */
}

/* Eliminar el margen derecho del último elemento para evitar espacios innecesarios */
.slider img:last-child {
    margin-right: 0;
}




/* Estilos de la sección de novedades */
.novedades {
    text-align: center; /* Centrar el contenido horizontalmente */
    margin-top: 20px; /* Espacio superior */
}

.novedades h2 {
    margin-bottom: 10px; /* Espacio inferior */
    color: #201e1e;
}

/* Estilos de la línea de imágenes */
.linea-imagenes {
    display: flex; /* Mostrar las imágenes en línea */
    justify-content: center; /* Centrar las imágenes horizontalmente */
    margin-bottom: 20px; /* Espacio inferior */
}

.linea-imagenes img {
    width: 200px; /* Ancho fijo para todas las imágenes */
    height: 150px; /* Altura automática para mantener la proporción de aspecto */
    margin: 0 5px; /* Margen entre las imágenes */
}








.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.producto {
    text-align: center;
    margin-bottom: 20px;
    width: calc(25% - 20px); /* Para 4 productos en una fila */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
    padding: 20px; /* Añadir padding alrededor del producto */
}


.producto:hover {
    transform: translateY(-5px); /* Levantar ligeramente al pasar el mouse */
}

.producto img {
    width: 80%; /* Reducir el tamaño de la imagen */
    height: auto;
    display: block; /* Para poder centrar la imagen */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}


.info-producto {
    margin-left: 10px;
    text-align: left; /* Alinear el texto a la izquierda */
    height: 100px; /* Altura fija para el contenedor de texto */
    overflow: hidden; /* Ocultar el texto que exceda la altura fija */

}

.categoria{
    color: #666;

}

.nombre{
    color:#000
}

.precio{
    color: #000;
}

.categoria, .nombre, .precio {
    margin-top: 5px; /* Margen superior */
    margin-bottom: 5px; /* Margen inferior */
    font-size: 14px; /* Tamaño de fuente uniforme */
    line-height: 1.5; /* Altura de línea uniforme */

}



a {
    text-decoration: none !important; /* Desactivar subrayado por defecto */
}










.boton-container {
    text-align: center;
    margin-top: 20px;
}

.boton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.imagenes-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.imagen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}


.titulo-imagen {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px; /* Espacio inferior entre el título y la descripción */
    text-align: center;

}

.descripcion-imagen {
    font-size: 14px;
    color: #666;
    text-align: center;

    margin-bottom: 10px; /* Espacio inferior para separar las imágenes */
}








.texto-imagen-container {
    display: flex;
    max-width: 900px; /* Ajusta el ancho máximo del contenedor */
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textcont {
    flex: 1; /* Permite que el contenedor de texto ocupe espacio proporcional */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}

.text {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
    text-align: left; /* Alinea el texto a la izquierda */
    text-align: center;
    padding: 20px;
}

.imagen-collar {
    flex: 1; /* Permite que el contenedor de la imagen ocupe espacio proporcional */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra verticalmente la imagen */
}

.imagen-collar img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}












h1 {
    margin-left: 55px; /* Margen izquierdo para desplazar el título hacia la derecha */
    text-align: left; /* Centrar el título horizontalmente */
    margin-top: 50px; /* Espacio por encima del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 1.5rem; /* Tamaño del título */
    color: #131212ea; /* Color del texto del título */
}



.produ-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.produ {
    text-align: center;
    margin-bottom: 20px;
    width: calc(25% - 20px); /* Para 4 productos en una fila */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
    padding: 20px; /* Añadir padding alrededor del producto */
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Estilos para la imagen, título y texto del producto */
.produ img {
    width: 80%; /* Reducir el tamaño de la imagen */
    height: auto;
    display: block; /* Para poder centrar la imagen */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
}


.produ h2 {
    margin-top: 5px; /* Margen superior */
    margin-bottom: 5px; /* Margen inferior */
    font-size: 14px; /* Tamaño de fuente uniforme */
    line-height: 1.5; /* Altura de línea uniforme */
    margin-left: 10px;
    color: #000000;
    
}

.produ p {
    margin-left: 10px;
    color: #000;

}



















/* Estilos generales */
.testimonio-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.testimonio-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.testimonio-slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.testimonio-item {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.testimonio-item.active {
    display: flex;
}

.testimonio-icon.principal {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    position: relative;
}

.testimonio-icon {
    cursor: pointer;
    border: 2px solid transparent;
    opacity: 0.5;
    position: absolute;
    top: 10px;
    transition: all 0.3s ease;
}

.testimonio-icon.active {
    border: 2px solid #000;
    opacity: 1;
}

.testimonio-texto {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.testimonio-texto p:first-of-type {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.testimonio-texto p:nth-of-type(2) {
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 10px;
}

.testimonio-texto p:last-of-type {
    font-weight: bold;
    font-size: 1em;
}

.testimonio-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.testimonio-nav button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    margin: 0 10px;
    cursor: pointer;
}















































.otro-slider-container {
    overflow: hidden;
    overflow-x: hidden; /* Ocultar desplazamiento horizontal */
    width: 98.7vw;
    height: auto;
    margin: 50px auto 0; /* Mueve el carrusel 50px hacia abajo */
}

.slide-track {
    display: flex;
    animation: scroll-infinite 20s linear infinite;
}

.otro-slider {
    width: 200px;
}

.otro-slider img {
    width: 150px; /* Ajusta el ancho de las imágenes según sea necesario */
    height: auto; /* Mantenemos la proporción de aspecto */
}

@keyframes scroll-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-150px * 9)); /* Ajusta el valor según el número de imágenes */
    }
}






















/* Contenedor principal */
.info-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}




/* Contenedor del texto */
.text-container {
    flex: 1;
    padding-right: 20px;
    text-align: center;
}

.text-container h3 {
    margin-bottom: 15px; /* Mayor separación del título */
    font-size: 24px;
    color: #1b1a1a;
}

.text-container p {
    margin-bottom: 10px; /* Mayor separación entre párrafos */
    font-size: 16px;
    color: #666;
}


/* Botón de ubicación */
.ubicacion-btn {
    padding: 12px 24px; /* Mayor relleno */
    font-size: 18px; /* Texto más grande */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 25px; /* Borde redondeado más pronunciado */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block; /* Para evitar el ancho completo */
}

.ubicacion-btn:hover {
    background-color: #0056b3;
}

/* Contenedor de la imagen */
.image-container {
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}





















.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h4 {
    margin-bottom: 20px;
    color: #333;
}

.footer-column p,
.footer-column ul {
    margin-bottom: 15px;
}

.footer-column p i,
.footer-column ul li a i {
    margin-right: 10px;
    color: #666;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li a {
    color: #666;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #007bff;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: #666;
}













.whatsapp-float {
    position: fixed;
    width: 50px; /* Reducir el tamaño del botón */
    height: 50px; /* Reducir el tamaño del botón */
    bottom: 40px;
    left: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 20px; /* Reducir el tamaño del icono */
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
}

.whatsapp-float img {
    width: 30px; /* Reducir el tamaño del icono */
    margin-top: 10px;
}













.social-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px; /* Ajusta esta distancia según tus necesidades */
    top: 50%;
    transform: translateY(-50%);
}

.social-container a {
    margin: 10px 0; /* Espaciado entre los iconos */
    transition: transform 0.3s ease, filter 0.3s ease; /* Transición para el efecto */
}

.social-container img {
    width: 40px; /* Ajusta el tamaño de los iconos */
    height: 40px; /* Ajusta el tamaño de los iconos */
}

.social-container a:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el mouse */
    filter: brightness(1.2); /* Aumenta el brillo al pasar el mouse */
}









/* Media query para dispositivos móviles */
/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    header {
        padding: 10px;
        display: flex;
        align-items: center;
        
    }

    .logo {
        text-align: center; /* Centra el texto del logo */

    }

    .logo img {
        display: block; /* Asegura que la imagen se comporte como un bloque */
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }

    .menu-icon {
        display: block; /* Mostrar el icono del menú en dispositivos móviles */
        padding: 10px;
        position: relative;
        margin-right: 20px;
    }

    .menu-icon span {
        width: 25px; /* Ancho de las barras del menú */
        height: 3px; /* Altura de las barras del menú */
        background-color: #333; /* Color de las barras del menú */
        margin-bottom: 5px; /* Espacio entre las barras del menú */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
    }

    .menu-icon span:last-child {
        margin-bottom: 0; /* Sin margen inferior para la última barra */
    }

    /* Efecto de transición al abrir el menú */
    .menu-icon.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /* Rotación de la primera barra */
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0; /* Ocultar la segunda barra */
    }

    .menu-icon.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); /* Rotación de la tercera barra */
    }

    /* Estilos para el menú desplegable */
    .mobile-menu {
        display: none; /* Ocultar el mobile-menu inicialmente */
        position: fixed; /* Posición fija para mantenerlo visible */
        top: 0; /* Alineación en la parte superior */
        left: 0; /* Alineación a la izquierda */
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa */
        background-color: #fff; /* Color de fondo */
        z-index: 1000; /* Z-index alto para estar encima de otros elementos */
        flex-direction: column; /* Alinear elementos verticalmente */
        justify-content: center; /* Centrar verticalmente */
        align-items: center; /* Centrar horizontalmente */
    }

    .mobile-menu.active {
        display: flex; /* Mostrar el mobile-menu activo */
    }

    .close-btn {
        position: absolute; /* Posición absoluta para el botón de cerrar */
        top: 10px; /* Espacio desde la parte superior */
        right: 10px; /* Espacio desde la derecha */
        background: transparent; /* Fondo transparente */
        border: none; /* Sin borde */
        font-size: 24px; /* Tamaño de fuente */
        cursor: pointer; /* Cursor de puntero */
    }

    .navbar{
        display: none;
    }

    .bar ul {
        list-style-type: none; /* Quitar los marcadores de lista */
        padding: 0; /* Eliminar el relleno */
        text-align: center; /* Alinear texto al centro */
    }

    .bar ul li {
        margin: 10px 0; /* Margen entre elementos del menú */
    }

    .bar ul li a {
        color: #333; /* Color del texto del menú */
        text-decoration: none; /* Quitar subrayado */
        font-size: 1rem; /* Tamaño de fuente */
        display: block; /* Mostrar como bloque */
        padding: 10px; /* Relleno interno */
        transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    }

    .bar ul li a:hover {
        background-color: #eee; /* Color de fondo al pasar el mouse */
    }






    /* Estilos adicionales para otros elementos móviles */
    .slider-container {
        height: 200px; /* Altura reducida del contenedor del slider */
    }

    .slider img {
        height: 200px; /* Altura reducida de las imágenes del slider */
    }

    .novedades h2 {
        margin-bottom: 10px; /* Espacio inferior */
        color: #111111;
    }

    .linea-imagenes img {
        width: 80px; /* Ancho reducido de las imágenes en la línea */
        height: 80px; /* Altura reducida de las imágenes en la línea */
    }







    .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centrar productos horizontalmente */
        margin-top: 10px; /* Margen superior reducido */
    }
    
    .producto {
        text-align: center;
        margin-bottom: 20px;
        width: calc(50% - 10px); /* Para 2 productos por fila */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
        padding: 10px; /* Añadir padding alrededor del producto */
    }
    
    .producto:last-child {
        margin-right: 0; /* Eliminar margen derecho del último producto */
    }
    
    .producto img {
        width: 100%; /* Ancho completo de las imágenes de los productos */
        height: auto; /* Altura automática para mantener la proporción */
    }
    
    .info-producto {
        height: auto; /* Altura automática para el contenedor de texto del producto */
    }


    .imagenes-container {
        display: flex; /* Mostrar elementos en una fila */
        flex-wrap: nowrap; /* Evitar que se envuelvan a múltiples líneas */
        overflow-x: auto; /* Permitir desplazamiento horizontal si hay más imágenes */
        -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos iOS */
        padding: 10px; /* Añadir padding al contenedor */
        gap: 25px; /* Añadir separación entre elementos */

    }

    .imagen {
        flex: 0 0 auto; /* No flex-grow, no flex-shrink, tamaño automático */
        text-align: center; /* Centrar texto de cada imagen */
    }

    

    .imagen img {
        width: 80px; /* Ajustar el tamaño de las imágenes para móviles */
        height: auto; /* Altura automática para mantener la proporción */
    }

    .titulo-imagen {
        font-size: 15px; /* Ajustar el tamaño de la fuente para móviles */
    }

    .descripcion-imagen {
        font-size: 11px; /* Ajustar el tamaño de la fuente para móviles */
        


    }
    



    .texto-imagen-container {
        width: 400px; /* Aprovecha el ancho completo del dispositivo */
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }
    
    .textcont {
        text-align: center;
        padding-bottom: 15px; /* Espacio entre el texto y la imagen en móviles */
    }
    
    .text {
        margin: 0; /* Elimina el margen predeterminado de los párrafos */
    }
    
    .imagen-collar {
        display: flex;
        justify-content: center; /* Centra la imagen horizontalmente en móviles */
        align-items: center; /* Centra verticalmente la imagen */
        margin-top: 15px; /* Espacio superior entre el texto y la imagen en móviles */
    }
    
    .imagen-collar img {
        max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
        width: 400px; /* Ajusta el ancho de la imagen al 100% del contenedor */
        height: 300px; /* Mantiene la proporción de la imagen */
    }
    




    h1 {
        margin-left: 20px; /* Margen izquierdo reducido */
        text-align: center; /* Centrar el título horizontalmente */
        margin-top: 30px; /* Espacio por encima del título */
        margin-bottom: 15px; /* Espacio debajo del título */
        font-size: 1.3rem; /* Tamaño del título ajustado */
    }

    .produ-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centrar productos horizontalmente */
        margin-top: 10px; /* Margen superior reducido */
        margin-left: 15px; /* Ajusta este valor para mover el contenedor a la derecha */

        
    }

    .produ {
        text-align: center;
        margin-bottom: 20px;
        width: calc(50% - 10px); /* Para 2 productos por fila */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        transition: transform 0.3s ease; /* Transición suave al pasar el mouse */
        padding: 5px; /* Añadir padding alrededor del producto */
        text-align: left; /* Alinear el texto a la izquierda */
        margin-left: 10px;

    }

    .produ img {
        width: 100%; /* Ancho completo para la imagen */
        height: auto; /* Altura automática para mantener la proporción */
        display: block; /* Mostrar como bloque para centrar */
        margin: 0 auto; /* Centrar la imagen horizontalmente */
    }

    .produ h2 {
        font-size: 1rem; /* Tamaño del título ajustado */
        margin-bottom: 5px; /* Espacio debajo del título */
    }

    .produ p {
        font-size: 0.9rem; /* Tamaño del texto ajustado */
        margin-bottom: 5px; /* Espacio entre líneas de texto */
    }












    .testimonio-container{
        margin-right: 25PX;
    }







    .otro-slider-container {
        overflow: hidden;
        overflow-x: hidden; /* Ocultar desplazamiento horizontal */
        width: 98.7vw;
        height: auto;
        margin: 50px auto 0; /* Mueve el carrusel 50px hacia abajo */
        margin-left: 25PX;
    }
    
    .slide-track {
        display: flex;
        animation: scroll-infinite 20s linear infinite;
    }
    
    .otro-slider {
        width: 100%; /* Ocupa todo el ancho disponible */
        height: 100px; /* Altura fija de 100px */
    }
    
    .otro-slider img {
        width: auto; /* Ancho automático para mantener la proporción */
        height: 100%; /* Altura del 100% del contenedor */
        object-fit: cover; /* Ajustar imagen cubriendo */
    }
    
    


    @keyframes scroll-infinite {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(calc(-150px * 9)); /* Ajusta el valor según el número de imágenes */
        }
    }








    .info-container{
        margin-left: 25PX;
    }












    .footer-column {
        flex: 1 1 100%; /* Tamaño mínimo y máximo de columna */
        margin-bottom: 10px; /* Espaciado inferior reducido */
    }

    .whatsapp-float {
        display: block; /* Mostrar el botón de WhatsApp flotante */
    }

    .social-container {
        display: flex; /* Mostrar el contenedor de redes sociales */
        flex-direction: row; /* Dirección de las redes sociales a fila */
        position: static; /* Posición estática */
        transform: none; /* Sin transformación */
        margin: 10px 0; /* Espaciado vertical entre íconos */
    }
}







